.VideoIframe {

  &-Backdrop {
    background: rgba($color: $black, $alpha: .75);
    backdrop-filter: blur(20px);

    &.show {
      opacity: 1;
    }
  }

  &.modal-lg {
    @include media-breakpoint-down(xs) {
      min-height: 100%;
      margin: 0;
    }
  
    @include media-breakpoint-between(sm, lg) {
      max-width: 427px;
    }
  
    @include media-breakpoint-between(lg, xl) {
      max-width: 640px;
    }
  
    @include media-breakpoint-up(xl) {
      max-width: 854px;
    }
  }

  .modal {

    &-content {
      border: 0;
      background-color: transparent;
    }

    &-header {
      border: 0;
      padding: 0;

      .close {
        position: absolute;
        right: 17px;
        top: -18px;
        padding: 5px 10px;
        background-color: $white;
        @include border-top-radius(4px);
      }
    }

    &-body {
      padding: 0;

      iframe {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;

        @include media-breakpoint-down(xs) {
          width: 100vw;
          height: 56.25vw;
        }

        @include media-breakpoint-between(sm, lg) {
          width: 427px;
          height: 240px;
        }

        @include media-breakpoint-between(lg, xl) {
          width: 640px;
          height: 360px;
        }

        @include media-breakpoint-up(xl) {
          width: 853px;
          height: 480px;
        }
      }
    }
  }
}

.LocationPicker {

  .modal {

    &-content {
      background-color: $gray-100;
    }

    &-header {
      position: relative;
      border-bottom: 0;

      .btn {
        display: none;
      }

      .close {
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;
        background-color: $gray-100;
        @include border-radius(100%);
        box-shadow: 0 0.125rem 0.25rem rgba($color: $black, $alpha: .25);

        &:hover,
        &:focus {
          opacity: 1;
          outline: none;
          background-color: $gray-300;
        }

        span {
          color: $primary;
          font-size: 36px;
          font-weight: 400;
        }
      }
    }
    
    &-title {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }

    &-body {

      .btn {
        width: 300px;
        height: 160px;
        padding: 17px 30px;
        margin: 15px 10px;
        border: 1px solid rgba($color: $black, $alpha: .15);
        @include border-radius(8px);
        background-color: $white;

        &:focus {
          box-shadow: none;
        }

        &-gps {
          width: auto;
          height: auto;
          font-weight: 600;
          display: flex;
          margin: 15px auto 30px auto;
          padding: 10px 30px;

          &:hover {
            background-color: $primary;
          }
        }

        img {
          width: auto;
          height: 95px;
        }

        h4 {
          color: $primary;
          font-size: 20px;
          font-weight: 600;
          margin: 10px 0 0 0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    margin: 0;
    @include align-items(start);

    .modal {

      &-content {
        border-width: 0;
        @include border-radius(0);
      }

      &-header {

        .btn {
          display: inline-block;
          height: 24px;
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 0;
          border-width: 0;
        }

        .close {
          display: none;
        }
      }
    
      &-title {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
      }

      &-body {
        text-align: center;

        .btn {    
          width: 270px;
          margin-left: auto;
          margin-right: auto;

          &-gps {
            font-size: 15px;
          }
        }
      }
    }
  }
}