$primary: #c71f66;
$gray-250: #ebecef;

$assetPath: '../public/static';

// font-family: 'Hind Siliguri', sans-serif;
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Poppins', sans-serif;